doctype html
html
	head
		link(href="https://necolas.github.io/normalize.css/4.1.1/normalize.css", rel="stylesheet")
		link(href="../flex-grid.css", rel="stylesheet")
	body
		header
			h1 Flex-Grid
		.visible-xs
			p I'm only visible xs
		.visible-sm
			p I'm only visible sm
		.visible-md
			p I'm only visible md
		.visible-lg
			p I'm only visible lg
		.row
			.col.twelve
				p div.col.twelve
		.row.xs
			.col.eleven
				p div.col.eleven
			.col.one
				p div.col.one
		.row.sm
			.col.ten
				p div.col.ten
			.col.two
				p div.col.two
		.row
			.col.nine
				p div.col.nine
			.col.three
				p div.col.three
		.row
			.col.eight
				p div.col.eight
			.col.four
				p div.col.four
		.row
			.col.seven
				p div.col.seven
			.col.five
				p div.col.five
		.row
			.col.six
				p div.col.six
			.col.six
				p div.col.six