doctype html
html
	head
		link(href="../flex-grid.css", rel="stylesheet")
	body
		header
			h1 Flex-Grid
		.visible-xs
			p I'm only visible xs
		.visible-sm
			p I'm only visible sm
		.visible-md
			p I'm only visible md
		.visible-lg
			p I'm only visible lg
		.row
			.col.twelve
		.row
			.col.eleven
			.col.one
		.row
			.col.ten
			.col.two
		.row
			.col.nine
			.col.three
		.row
			.col.eight
			.col.four
		.row
			.col.seven
			.col.five
		.row
			.col.six
			.col.six