doctype html
html
	head
		link(href="../flex-grid.css", rel="stylesheet")
	body
		header
			h1 Flex-Grid
		.row
			.col.twelve
				p Lorem Ipsum
		.row
			.col.eleven
			.col.one
		.row
			.col.ten
			.col.two
		.row
			.col.nine
			.col.three
		.row
			.col.eight
			.col.four
		.row
			.col.seven
			.col.five
		.row
			.col.six
			.col.six