$margin: 2%
$max-width: 1080px

// Breaks
$break-sm: 768px
$break-md: 992px
$break-lg: 1200px

// For dev purposes only
@import 'test'

// Other imports
@import 'basic-grid'
@import 'display-helpers'
@import 'size-classes'


